/* styles/style.css */

body {
    margin: 0;
    font-family: Arial, sans-serif;
}

header {
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
}

h1 {
    margin: 0;
}

nav {
    display: flex;
    justify-content: center;
    background-color: #444;
}

nav a {
    text-decoration: none;
    color: #fff;
    padding: 10px;
    margin: 0 10px;
    transition: background-color 0.3s;
}

nav a:hover {
    background-color: #6ffbfd;
    color: black;
}

main {
    padding: 20px;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px;
}

/* styles/style.css */

/* Add styles for the demographics section */
.demographics-section {
    max-width: 600px;
    margin: 20px auto;
    padding: 20px;
    background-color: #f5f5f5;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

form {
    display: flex;
    flex-direction: column;
}

label {
    margin-bottom: 8px;
}

input,
select {
    padding: 8px;
    margin-bottom: 16px;
}

button {
    padding: 10px;
    background-color: #007BFF;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #0056b3;
}
